### This workbook downloads the stock data for given duration and interval.

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import yfinance as yf
from datetime import datetime

In [2]:
datetime.strptime('2024-03-01','%Y-%m-%d').date()

datetime.date(2024, 3, 1)

In [3]:
# Make dataframe to store the data
data_df = pd.DataFrame(columns=['Datetime', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])

In [4]:
stock_symbol = '^NSEI'
end_date = datetime.today().date()
start_date = datetime.strptime('2024-07-08','%Y-%m-%d').date()
interval = '5m' # 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 1wk, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y

In [5]:
yf.download(tickers='IRFC.NS', start=start_date, end=end_date, interval=interval)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-07-08 09:15:00+05:30,194.919998,198.960007,194.919998,198.470001,198.470001,0
2024-07-08 09:20:00+05:30,198.470001,201.220001,198.470001,201.220001,201.220001,16459200
2024-07-08 09:25:00+05:30,201.000000,204.570007,200.539993,204.039993,204.039993,21953490
2024-07-08 09:30:00+05:30,204.000000,204.500000,202.410004,204.080002,204.080002,11387749
2024-07-08 09:35:00+05:30,204.000000,205.889999,203.990005,205.880005,205.880005,14047351
...,...,...,...,...,...,...
2024-08-05 15:05:00+05:30,180.029999,180.199997,179.500000,179.589996,179.589996,1182614
2024-08-05 15:10:00+05:30,179.559998,179.850006,179.500000,179.589996,179.589996,879508
2024-08-05 15:15:00+05:30,179.589996,179.600006,179.000000,179.169998,179.169998,2275609
2024-08-05 15:20:00+05:30,179.110001,179.240005,178.820007,178.990005,178.990005,1846788
2024-08-05 15:25:00+05:30,178.990005,179.000000,178.800003,178.990005,178.990005,1173273